<div class="container">
    <meta name="google-signin-client_id" content="">
   
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a href="/" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">Store Notify</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Processing Account </h5>
                                <p class="text-center small"> </p>
                            </div>
 

     
                                <div class="col-12" ><!-- style=" display: (( error & error?.length>=0) ? 'block': 'none') " -->
                                                                 <!-- Loading spinner -->
                                        <div 
                                        class="loading-spinner"
                                        [style.display]="isLoading ? 'block' : 'none'"
                                        >
                                        <div class="spinner"></div>
                                        </div>
                                    <!-- [disabled]="defaultAuth == 'Spring'"   implementation ready-->
                                    <span id="errorTxt" style="color:red" >{{error}}</span>
                                </div>
                  

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </section>

</div>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

        <!-- *ngif="error && error?.length !==0" -->